* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: url("https://6652d639faf7514bae1b3d79--bright-gecko-d68e17.netlify.app/assets/cursor/cursor.cur"), auto;  

}

#reset {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#world {
    display: grid;
    grid-template-columns: repeat(29, 32px);
    grid-template-rows: repeat(15, 32px); 
    width: fit-content;
}

.tile {
    width: 32px;
    height: 32px;
    background-size: cover;
    transition: transform 0.2s ease-in-out; 
}

.tile:hover {
    transform: scale(1.3); 
    z-index: 10;
}

.sky {
    background-image: url('sky.png');
}

.cloud {
    background-image: url('cloud.png');
}

.soil {
    background-image: url('soil.png');
}

.grass {
    background-image: url('soil-and-greenplants.png');
}

.treebase {
    background-image: url('treebase.png');
}

.branch {
    background-image: url('branch.png');
}

#inventory {
    display: flex;
    gap: 3px; 
    padding: 10px; 
    border: 2px solid #666; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#inventory img {
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 2px solid #999; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

#inventory img:hover {
    background-color: #e0e0e0; 
}

#second-inventory {
    display: grid;
    grid-template-columns: repeat(6, 48px); 
    grid-gap: 5px;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#second-inventory img {
    width: 48px;
    height: 48px;
    border: 2px solid #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    grid-row: 1; 
}
#second-inventory img:hover {
    background-color: #e0e0e0; 
}

#second-inventory span {
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 1px 3px;
    border-radius: 3px;
    align-self: start; 
    justify-self: start; 
    position: relative;
    z-index: 10;
}
